/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar{
    width: 15px !important;
}

body::-webkit-scrollbar-thumb{
    background-color: #070066;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #040033;
    border-radius: 30px;
}

li {
    list-style-type: none;
}

h1, h2, h3, p {
    color: #160f29 !important;
}

.iconoDeBarras {
    margin: 30px !important; 
    padding: auto !important; 
    margin-left: 95% !important; 
    font-size: 25px !important; 
    
}

.tituloPrincipal {
    margin: 30px !important; 
}

.miFoto img {
    margin: 30px ; 
    width: 170px !important; 
    height: 170px !important; 
    border-radius: 100% !important; 
}

.textoDeMiVida {
    margin: 30px !important; 
    font-size: 25px !important; 
}

.laLinea{
    margin-top: 50px !important; 
    margin-bottom: 50px !important; 
    background-color: #070066 !important; 
    font-size: 25px !important; 
    color: #fff !important; 
    text-align: center !important; 
    font-family: 'Orbitron', sans-serif !important; 
}

.misProyectosTitulo{
    margin: 0px !important; 
}

.linea1 {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}

.tecnologiasDominadas{
    margin-top: 20px !important; 
    margin-bottom: 20px !important; 
}


footer p, footer li{
    color: #fff !important; 
}

.form { 
    min-width: 400px !important; 
    flex : 1 !important; 
    text-align: center !important; 
    padding: 30px !important; 
    order: 5 !important; 
}

.form_input {
	width: 100% !important;  
	padding: 7px !important; 
	margin: 6px 0 !important; 
	border: none !important; 
	border-bottom: 3px solid #4d29ff !important; 
	background: transparent !important; 
    color: #160f29 !important; 
}

.form_input:focus {
	background: linear-gradient(to bottom, transparent, #a8a8a8) !important; 
	outline: none !important; 
}

.form_section textarea {
	min-height: 140px !important; 
	resize: none !important; 
}

.button {
	background-color: #4d29ff !important; 
	border-bottom: none !important; 
	padding: 12px !important; 
	color: #FFF !important; 
}

.contacto {
    font-size: 20px !important; 
}

.nro4 {
    background-color: #070066;
}

html.dark-mode {
    filter: invert(100%);
}

html.dark-mode img {
    filter: invert(100%);
}

html.dark-mode .lineaOndulada {
    filter: invert(100%);
}

html.dark-mode .nro4 {
    filter: invert(100%);
}

html.dark-mode .laLinea {
    filter: invert(100%);
}

html.dark-mode .form_input {
    filter: invert(100%);
    color: #a8a8a8 !important;
}

.foc3 {
    background-color: #070066 !important;
    color: #fff !important;
}

html.dark-mode .foc3 {
    filter: invert(100%);
    background-color: #070066 !important;
}

html.dark-mode .foc2 {
    filter: invert(100%);
    color: #fff !important;
}

html.dark-mode .fondoDelSwich {
    filter: invert(0%);
}

html.dark-mode .checkboxs input {
    filter: invert(100%);

}

.iconoDeRedesSociales {
    font-size: 38px;
}

html.dark-mode .form_input:focus {
    filter: invert(100%);
    background: linear-gradient(to bottom, transparent, #000000) !important; 
	outline: none !important; 
    
}

html.dark-mode .advertencia {
    filter: invert(100%);
}

a {
    outline: none !important;
    text-decoration: none !important;
}

.tecnologia i {
    font-size: 45px !important;
}

.lineaphotos{
    background-color: #ffffff;
}

.photos {
    display: inline;
    margin: auto;
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

html.dark-mode .photos {
    filter: invert(0%);
    background-color: #070066 !important;
}

html.dark-mode .lineaphotos {
    filter: invert(0%);
    background-color: #070066 !important;
}

html.dark-mode .foc {
    filter: invert(100%);
    color: #4d29ff !important;
}

.navbar {
    color: #fff;
    background-color: #070066 !important; 
}

.logo {
    background-image: url('favicon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.foc4 {
    color: #FFF !important;
}