<div class="container nro3"> 
    <h3 class="pb-4"><i>Contactame</i></h3>
    <div class="row justify-content-center">
        <div class="col-xxl-6 col-md-6 col-sm-12">
            <form [formGroup]="datos_correos" class="form">
                <div class="form_section">
                    <input type="text" formControlName="name" placeholder="Nombre" class="form_input">
                </div>
                <div class="form_section">
                    <input type="email" formControlName="mail" placeholder="Mail" class="form_input">
                </div>
                <div class="form_section">
                    <input type="text" formControlName="phone" placeholder="Teléfono" class="form_input">
                </div>
                <div class="form_section">
                    <input type="text" formControlName="asunto" placeholder="Asunto" class="form_input">
                </div>
                <div class="form_section">
                    <textarea class="form_input" formControlName="message" placeholder="Mensaje"></textarea>
                </div>
                <div class="form_section">
                    <input type="submit"  class="form_input button" (click)="envioCorreo()" name="">
                </div>
            </form>
        </div>
    </div>
</div>
