
<div class="container "> 
    <h2 class="pb-2 cartaDeTecnologia foc2">Tecnologías Dominadas</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
      <li class="linea1 list-group-item p-2" *ngFor="let Tecnologia of tecnologyList">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- Icono primero -->
            <h3 class="mb-0 foc2 text-center">
              <i class="{{Tecnologia.icon}}"></i>
            </h3>
            <!-- Nombre segundo -->
            <div class="feature col text-center">
              <p class="fs-2 text-body-emphasis foc2">{{Tecnologia.name}}</p>
            </div>
            <!-- Nivel tercero -->
            <p class="card-text mb-auto foc2 text-center">{{Tecnologia.nivel}}</p>
          </div>
          <div class="col-auto d-none d-lg-block"></div> 
        </div>
      </li>
    </div>
  </div>
  
  