<div class="container">

  <section class="hero-section">
    <h2>
      Hola, soy {{ miPorfolio.nombre }}
    </h2>
    <div class="content-wrapper">
      <div class="row justify-content-center"> 
        <div class="profile-image col-md-4 col-10 text-center miFoto"> 
          <img
            class="  "
            [src]="miPorfolio.foto"
            alt="Foto de perfil"
          />
        </div>
      </div>


      <h1>{{ miPorfolio.position }}</h1>
      <p class="subtitle">
        Especializado en crear experiencias web modernas y atractivas con las últimas tecnologías
      </p>
  
      <div class="button-group">
        <button type="button" class="btn btn-dark border-bottom">
          <a class="foc4" href="mailto:rios.lisandro369@gmail.com" target="_blank">
            <i class="fa-regular fa-envelope"></i> Contactar
          </a>
        </button>
  
        <button type="button" class="btn btn-dark border-bottom">
          <a class="foc4 foc6" href="https://github.com/LisanRios" target="_blank">
            <i class="bi bi-github"></i> Ver Proyectos
          </a>
        </button>
      </div>
    </div>
  </section>
  


</div>

<div class="laLinea">
  <div class="lineaphotos">
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Logo_Banco_de_la_Nacion_Argentina.svg/750px-Logo_Banco_de_la_Nacion_Argentina.svg.png" alt="" />
    <img class="photos" src="https://pbs.twimg.com/media/E8YoUlFWEAAeBu_?format=jpg&name=900x900" alt="" />
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/INTI_Logo_2019.png" alt="" />
    <img class="photos" src="https://www.argentina.gob.ar/sites/default/files/min_economia.png" alt="" />
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Logo_UNSAM.png" alt="" />
    <img class="photos" src="https://raw.githubusercontent.com/joshuaFrias95/Encriptador-Alura-Oracle-ONE/main/img/readme/aluraoracle.png" alt="" />
    <img class="photos" src="https://autenticacion.sanmartin.gov.ar/App_themes/images/logoMGSM.png" alt="" />

    <!-- 🔁 Se duplican las mismas imágenes para que la animación parezca infinita -->
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Logo_Banco_de_la_Nacion_Argentina.svg/750px-Logo_Banco_de_la_Nacion_Argentina.svg.png" alt="" />
    <img class="photos" src="https://pbs.twimg.com/media/E8YoUlFWEAAeBu_?format=jpg&name=900x900" alt="" />
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/INTI_Logo_2019.png" alt="" />
    <img class="photos" src="https://www.argentina.gob.ar/sites/default/files/min_economia.png" alt="" />
    <img class="photos" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Logo_UNSAM.png" alt="" />
    <img class="photos" src="https://raw.githubusercontent.com/joshuaFrias95/Encriptador-Alura-Oracle-ONE/main/img/readme/aluraoracle.png" alt="" />
    <img class="photos" src="https://autenticacion.sanmartin.gov.ar/App_themes/images/logoMGSM.png" alt="" />
  </div>
</div>



<div class="container">
  <h3 class="pb-2"><i class="foc2">Educación y Formacion</i></h3>
  <p class="foc2">
    Mi formación académica completa está en mi
    <a
      href="https://www.linkedin.com/in/lisandro-rios-a2882b252/"
      target="_blank"
      >Linkedin</a
    >. A continuación, les dejo mis títulos más importantes.
  </p>
  <li class="linea1 list-group-item p-2" *ngFor="let titulos of tituleList">
    <div class="bg-body-tertiary p-5 rounded">
      <h3 class="foc2">{{ titulos.type }}</h3>
      <h4 class="foc2">{{ titulos.name }}</h4>
      <h5 class="foc2">{{ titulos.dateInicio }} - {{ titulos.dateFin }}</h5>
      <p class="lead foc2">{{ titulos.description }}</p>
    </div>
  </li>
</div>

<div class="container">
    <div class="row container_textoDeMiVida">
        <h3 class="pt-5"><i class="foc2">Sobre mi</i></h3>
        <p class="foc2">
          Me destaco por ser una persona responsable, dedicada y orientada a la
          mejora continua. Mi ética de trabajo se refleja en el constante esfuerzo
          que realizo para elevar mis habilidades y conocimientos. Estoy
          convencido de que mi entusiasmo por la tecnología y mi compromiso con el
          crecimiento profesional serán activos valiosos para el equipo en el que
          pueda contribuir.
        </p>
      </div>
    </div>


  