<div class="container"> 
    <h3 class="pb-2"><i>Mis Proyectos</i></h3>
    <div class="row mb-2">
        <li class="linea1 list-group-item p-2" *ngFor="let project of projectList">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis foc">{{project.type}}</strong>
                    <h3 class="mb-0 foc2">{{project.name}}</h3>
                    <div class="mb-1 text-body-secondary foc2">{{project.date}}</div>
                    <p class="card-text mb-auto foc2">{{project.description}}</p>
                    <ul class="d-flex flex-wrap">
                        <li class="linea1 list-group-item p-2" *ngFor="let leng of project.lenguaje">
                            <h2 class="card-text mb-auto p-2" class="{{leng.name}}"></h2>
                        </li>
                    </ul>
                    <a [href]="project.link" class="icon-link gap-1 icon-link-hover stretched-link foc" target="_blank">
                        Ver código.
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg> 
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                <img src="{{project.image}}" alt="..." style="max-width: 270px; max-height: auto;">
                </div>
          </div>
        </div>
        </li>
      </div>    
</div>


