
<header>
  <div class="px-3 py-2 text-bg-dark border-bottom foc3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/inicio" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img class="logo photos" />
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLink="/inicio" class="nav-link  text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#ffffff" d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
              Inicio
            </a>
          
          </li>
          <li>
            <a routerLink="/trabajos" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ffffff" d="M184 48l144 0c4.4 0 8 3.6 8 8l0 40L176 96l0-40c0-4.4 3.6-8 8-8zm-56 8l0 40L64 96C28.7 96 0 124.7 0 160l0 96 192 0 128 0 192 0 0-96c0-35.3-28.7-64-64-64l-64 0 0-40c0-30.9-25.1-56-56-56L184 0c-30.9 0-56 25.1-56 56zM512 288l-192 0 0 32c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-32L0 288 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-128z"/></svg>
              Trabajos
            </a>
          </li>
          <li>
            <a routerLink="/tecnologias" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#ffffff" d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5l0-377.4c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8L0 454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5l0-370.3c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11L304 456c0 11.4 11.7 19.3 22.4 15.5z"/></svg>
              Concimientos
            </a>

            <li >
              <div class="form-check form-switch ps-5 p-3">
                <label class="form-check-label" for="lightSwitch">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-brightness-high"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                    />
                  </svg>
                </label>
                <input
                  class="form-check-input fondoDelSwich"
                  type="checkbox"
                  id="dark-mode"
                  onclick="document.documentElement.classList.toggle('dark-mode')"
                />
              </div>
            </li>
            
        </ul>
      </div>
    </div>
  </div>
</header> 

<router-outlet></router-outlet>

<div class="container-fluid ">
  <div class="row">
    <footer class="my-5 text-muted text-center text-small">
      
          <h2 >¿Interesado en conocerme?</h2>
          <p>Estoy siempre abierto a nuevas oportunidades y proyectos interesantes.</p>

          <div class="social-links">
            <div class="button-group"> 
            <button type="button" class="btn btn-dark border-bottom">
              <a class="foc4 foc6" href="https://github.com/LisanRios" target="_blank">
                <i class="bi bi-github"></i>
                GitHub</a> 
            </button>

            <button type="button" class="btn btn-dark border-bottom">
              <a class="foc4 foc6" href="https://www.linkedin.com/in/lisandro-rios-a2882b252/" target="_blank">
                <i class="bx bxl-linkedin"></i>
                Linkedin</a> 
            </button>

            <button type="button" class="btn btn-dark border-bottom">
              <a
              class="foc4 foc6"
              href="mailto:rios.lisandro369@gmail.com?subject=Contacto%20desde%20el%20porfolio&body=Hola%20Lisandro%2C%0A%0ASoy%20%5BNombre%5D%20de%20%5BEmpresa%5D.%20Quer%C3%ADa%20hablar%20contigo%20sobre%20una%20oportunidad%20laboral%20en%20nuestra%20empresa.%20Actualmente%20estamos%20buscando%20a%20alguien%20para%20el%20puesto%20de%20%5BPuesto%5D%2C%20y%20pensamos%20que%20podr%C3%ADas%20ser%20un%20buen%20candidato.%0A%0AEl%20trabajo%20involucra%20%5Bbreve%20descripci%C3%B3n%20del%20trabajo%5D%2C%20y%20creemos%20que%20tus%20habilidades%20y%20experiencia%20encajar%C3%ADan%20perfectamente%20con%20lo%20que%20estamos%20buscando.%0A%0ASi%20est%C3%A1s%20interesado%2C%20me%20encantar%C3%ADa%20discutir%20m%C3%A1s%20detalles%20contigo.%20%C2%A1Espero%20tu%20respuesta!%0A%0ASaludos%20cordiales%2C%0A%5BTu%20nombre%5D%0A%5BTu%20puesto%5D%0A%5BEmpresa%5D%0A%5BTel%C3%A9fono%5D%0A%5BCorreo%20electr%C3%B3nico%5D"
              target="_blank"
            >
              <i class="fa-regular fa-envelope"></i>
               Correo
            </a>
            </button>

            <button class="btn btn-primary button" type="button">
          <a
            href="../assets/data/lisandro-gabriel-rios-de-morla-cv.pdf"
            download="Lisandro-Gabriel-Rios-De-Morla-CV"
            style="color: #fff"
          >
            Descargar Curriculum Vitae
          </a>
        </button>

          </div>
       
        
          </div>

      <p class="mb-1">©2025 Lisandro Gabriel Rios De Morla</p>
    </footer>
  </div>
</div>


<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<script src="app/app.js"></script>
